@{
    ViewData["Title"] = "About Joel";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        <a href="https://www.qwcomedy.com/">QW Comedy</a>
    </li>
    <li>
        <a href="https://baconsale.com/">Bacon Sale</a>
    </li>
    <li>
        <a href="https://baconsale.com/"><img src="~/images/BaconsaleKate.jpg" /></a>
    </li>
</ul>
